<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">

        <!-- Jumbotron -->
        <div class="jumbotron text-center" style="background-image: url(https://natgeo.imgix.net/factsheets/thumbnails/Red-Planet-header.jpg?auto=compress,format&w=1024&h=560&fit=crop ); background-size: 100%; height: 100%;">
            <h1 style= "color: white;"> Mission to Mars</h1>
            <p > <a class="btn btn-primary btn-lg text-white" href="/scrape" role="button"> Scrape New Data</a></p>
        </div>

        <!-- News Section -->
        <div class="container">
            <h3> Latest Mars News</h3>
            <h6> {{mars_info.news_title}} </h6>
            <p> {{mars_info.news_paragraph}} </p>
        </div>

        <div class="container">
            <div class="row">

                <!-- Left Image-->
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3> Featured Mars Image</h3>
                    <img src="{{mars_info.featured_image_url}}" class="vizualization rounded float-left"
                        alt="Mars Image">
                </div>

                <!-- Weather Card -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        
                            <h6 class="card-title" style = "padding-top: 30px; margin-left: 10px"><b>Current Weather on Mars</b> </h6>
                            <p style = "margin-left: 10px;"> {{mars_info.weather_tweet}}</p>
                       
                    </div>

                    <!-- Table -->
                    <br>
                    <h3> Mars Facts </h3>
                    <div style="max-width: 450px; max-height: 150px; font-size: 14px; margin-bottom: 65px;">
                        {{mars_info.html_table|safe}}
                    </div>
                </div>
            </div>
        </div>
        
        <h3 style="text-align: center; margin-top: 50px;"> <b> Mars Hemispheres </b> </h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars_info.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <div class="card" style="margin: 30px;">
                            <img class="card-img-top" src="{{item.img_url}}" alt="hemisphere" style="width: 90%">
                            <div class="caption"style="font-weight: bold;font-size:25px;padding-top: 15px">
                                {{item.title}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>